# Discord Configuration
DISCORD_TOKEN=seu_token_aqui
CLIENT_ID=seu_client_id_aqui
GUILD_ID=seu_guild_id_aqui
CHANNEL_ID=seu_channel_id_aqui
ROLE_ID=seu_role_id_aqui

# Minecraft Configuration
RCON_HOST=minecraft
RCON_PORT=25575
RCON_PASSWORD=sua_senha_rcon_aqui
MINECRAFT_LOG_PATH=/app/logs/latest.log
PLAYERDATA_PATH=/app/playerdata
PORTAINER_URL=https://portainer.icaromelodev.com.br
